# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.egg-info/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Testing
# =========================

.pytest_cache/
.coverage
htmlcov/

# =========================
# Environment
# =========================

.env
.env.*

# =========================
# Data
# =========================

data/processed/*
!data/processed/.gitkeep

# =========================
# MLflow
# =========================

mlruns/
mlflow.db

# =========================
# OS / IDE
# =========================

.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Logs
# =========================

*.log